.bubble
{
position: relative;
width: 410px;
height: 120px;
padding: 0px;
background: #FFFFFF;
-webkit-border-radius: 17px;
-moz-border-radius: 17px;
border-radius: 17px;
border: #7F7FFF solid 2px;
}

.bubble:after
{
content: '';
position: absolute;
border-style: solid;
border-width: 15px 16px 15px 0;
border-color: transparent #FFFFFF;
display: block;
width: 0;
z-index: 1;
left: -16px;
top: 30px;
}

.bubble:before
{
content: '';
position: absolute;
border-style: solid;
border-width: 16px 17px 16px 0;
border-color: transparent #7F7FFF;
display: block;
width: 0;
z-index: 0;
left: -19px;
top: 29px;
}